<footer class="w-fit h-fit absolute bottom-2" style="font-family: sans-serif;">
    <div class="flex items-center justify-center">
        <img src="/ghaniLogo.svg" alt="company logo" class="w-12 h-12">
        <p class="opacity-80">.Powered By Ghani Code</p>
    </div>
</footer>